mat-toolbar {
  margin-top: 0.75em;
  height: 2.5em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08);
}

::ng-deep .mat-tooltip {
  background-color: #263238;
  color: #FFE082 !important;
  padding: 2px 0;
}