<mat-toolbar color="primary">
  <button mat-icon-button color="accent">
    <a href="https://docs.google.com/document/d/1gokKYh2Y1HFZC6qykpjKLiWjw2_kHpI6ZXzRmqfTK-s/edit?usp=sharing" target="blank">
      <button mat-icon-button color="accent" matTooltip="Resume">
        <i class="far fa-file-alt"></i>
      </button>
    </a>
  </button>
  <button mat-icon-button color="accent">
    <a href="https://www.linkedin.com/in/brittany-hutter/" target="blank">
      <button mat-icon-button color="accent" matTooltip="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </button>
    </a>
  </button>
  <button mat-icon-button color="accent">
    <a href="https://github.com/bhutter512" target="blank">
      <button mat-icon-button color="accent" matTooltip="GitHub">
          <i class="fab fa-github"></i>
      </button>
    </a>
  </button>
</mat-toolbar>